body{
    background-color: black;
    color: white;
}

#Home-page{
    height: 100vh;
    background-image: url("./CyberCup3.0/milad-fakurian-wNsHBf_bTBo-unsplash.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-position: fixed;    

}

.home{
     text-align: center;


}
.heading{
    text-align: center;
    padding-top: 200px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;

}


.ps-1-image, .ps-2-image, .ps-3-image{
    padding: 200px;
}

.ps-1, .ps-2, .ps-3{
    padding: 300px 150px 0 0;
    text-align: justify;
    font-size: 22px;
}

.floating { 
	animation-name: floating;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); } 
}

@media (max-width: 900px){
    .ps-1, .ps-2, .ps-3{
        padding: 150px 10px 0 10px;
        text-align: justify;
        font-size: 22px;
    }
    .ps-1-image, .ps-2-image, .ps-3-image{
        padding: 10px;
    }
}



